<label for="<%= id %>"><%= label %></label>
<input type="<%= type %>" id="<%= id %>" name="<%= id %>" placeholder="<%= placeholder %>" value="<%= value %>" <%= typeof required !== 'undefined' && required ? 'required' : '' %>>
<small><%= smallText %></small>
