<label for="<%= id %>"><%= label %></label>
<p><%= description %></p>
<textarea id="<%= id %>" name="<%= id %>" placeholder="<%= placeholder %>" <%= typeof required !== 'undefined' && required ? 'required' : '' %>><%= value %></textarea>
