<li><strong>ID:</strong> <%= response.$.ID %></li>
<li><strong>Version:</strong> <%= response.$.Version %></li>
<li><strong>IssueInstant:</strong> <%= response.$.IssueInstant %></li>
<li><strong>Destination:</strong> <%= response.$.Destination %></li>
<li><strong>InResponseTo:</strong> <%= response.$.InResponseTo %></li>
<li><strong>Issuer:</strong> <%= response.Issuer[0]._ %></li>