<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>
<body>
    <%- include('common/navbar') %>
    <div class="container">
        <h1>SAML Request Result</h1>
        
        <% if (samlResponse) { %>
            <h2>Response Details</h2>
            <ul>
                <li><strong>ID:</strong> <%= samlResponse['samlp:Response'].$.ID %></li>
                <li><strong>Version:</strong> <%= samlResponse['samlp:Response'].$.Version %></li>
                <li><strong>IssueInstant:</strong> <%= samlResponse['samlp:Response'].$.IssueInstant %></li>
                <li><strong>Destination:</strong> <%= samlResponse['samlp:Response'].$.Destination %></li>
                <li><strong>InResponseTo:</strong> <%= samlResponse['samlp:Response'].$.InResponseTo %></li>
                <li><strong>Issuer:</strong> <%= samlResponse['samlp:Response'].Issuer[0]._ %></li>
            </ul>
            
            <h2>Status</h2>
            <ul>
                <li><strong>Status Code:</strong> <%= samlResponse['samlp:Response']['samlp:Status'][0]['samlp:StatusCode'][0].$.Value %></li>
            </ul>
            
            <h2>Assertion</h2>
            <ul>
                <% const assertion = samlResponse['samlp:Response'].Assertion[0]; %>
                <li><strong>ID:</strong> <%= assertion.$.ID %></li>
                <li><strong>IssueInstant:</strong> <%= assertion.$.IssueInstant %></li>
                <li><strong>Issuer:</strong> <%= assertion.Issuer[0] %></li>
                <li><strong>Subject:</strong> <%= assertion.Subject[0].NameID[0]._ %></li>
                <li><strong>NotBefore:</strong> <%= assertion.Conditions[0].$.NotBefore %></li>
                <li><strong>NotOnOrAfter:</strong> <%= assertion.Conditions[0].$.NotOnOrAfter %></li>
                <li><strong>Audience:</strong> <%= assertion.Conditions[0].AudienceRestriction[0].Audience[0] %></li>
            </ul>
            
            <h2>Attributes</h2>
            <ul>
                <% assertion.AttributeStatement[0].Attribute.forEach(function(attr) { %>
                    <li>
                        <strong><%= attr.$.Name %>:</strong>
                        <% if (Array.isArray(attr.AttributeValue)) { %>
                            <ul>
                                <% attr.AttributeValue.forEach(function(value) { %>
                                    <li><%= value %></li>
                                <% }); %>
                            </ul>
                        <% } else { %>
                            <%= attr.AttributeValue %>
                        <% } %>
                    </li>
                <% }); %>
            </ul>
            
            <h2>Authentication Context</h2>
            <ul>
                <li><strong>AuthnInstant:</strong> <%= assertion.AuthnStatement[0].$.AuthnInstant %></li>
                <li><strong>SessionIndex:</strong> <%= assertion.AuthnStatement[0].$.SessionIndex %></li>
                <li><strong>AuthnContextClassRef:</strong> <%= assertion.AuthnStatement[0].AuthnContext[0].AuthnContextClassRef[0] %></li>
            </ul>

        <% } else { %>
            <p>No SAML response found.</p>
        <% } %>

        <% if (relayState) { %>
            <h2>RelayState</h2>
            <p><%= relayState %></p>
        <% } %>
        
        <% if (decodedResponse) { %>
            <h2>Decoded SAML Response Raw</h2>
            <textarea id="decodedResponse" readonly rows="20"><%= decodedResponse %></textarea>
        <% } %>


        <a href="/">Go Back</a>     
    </div>
</body>
</html>