<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>
<body>
    <%- include('common/navbar') %>
    <div class="container">
        <h1>SAML Request Result</h1>
        
        <% if (samlResponse) { %>
            <h2>Response Details</h2>
            <ul>
                <%- include('samlResponse/responseDetails', { response: samlResponse['samlp:Response'] }) %>
            </ul>
            
            <h2>Status</h2>
            <ul>
                <%- include('samlResponse/status', { status: samlResponse['samlp:Response']['samlp:Status'][0] }) %>
            </ul>
            
            <h2>Assertion</h2>
            <ul>
                <%- include('samlResponse/assertion', { assertion: samlResponse['samlp:Response'].Assertion[0] }) %>
            </ul>
            
            <h2>Attributes</h2>
            <ul>
                <%- include('samlResponse/attributes', { attributes: samlResponse['samlp:Response'].Assertion[0].AttributeStatement[0].Attribute }) %>
            </ul>
            
            <h2>Authentication Context</h2>
            <ul>
                <%- include('samlResponse/authnContext', { authnStatement: samlResponse['samlp:Response'].Assertion[0].AuthnStatement[0] }) %>
            </ul>
        <% } else { %>
            <p>No SAML response found.</p>
        <% } %>

        <% if (relayState) { %>
            <h2>RelayState</h2>
            <p><%= relayState %></p>
        <% } %>
        
        <% if (decodedResponse) { %>
            <h2>Decoded SAML Response Raw</h2>
            <textarea id="decodedResponse" readonly rows="20"><%= decodedResponse %></textarea>
        <% } %>

        <a href="/">Go Back</a>     
    </div>
</body>
</html>