<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>
<body>
    <%- include('common/navbar') %>
    <div class="container">
        <h1>Generate SAML Request Advanced</h1>
        <form action="/generateAdvancedSamlRequest" method="post">
            <fieldset>
                <legend>SAML Request Details</legend>
                <fieldset>
                    <legend>1st: Select option</legend>
                    <div class="form-container">
                        <%- include('form/checkBox', {
                            id: "includeIssuer",
                            name: "includeIssuer",
                            label:"includeIssuer",
                            isChecked: includeIssuer ? 'checked' : ''
                        }) %>
                        
                        <%- include('form/checkBox', {
                            id: "includeNameIDPolicy",
                            name: "includeNameIDPolicy",
                            label:"includeNameIDPolicy",
                            isChecked: includeNameIDPolicy ? 'checked' : ''
                        }) %>

                        <%- include('form/checkBox', {
                            id: "includeAuthnContext",
                            name: "includeAuthnContext",
                            label:"includeAuthnContext",
                            isChecked: includeAuthnContext ? 'checked' : ''
                        }) %>

                        <%- include('form/checkBox', {
                            id: "includeForceAuthn",
                            name: "includeForceAuthn",
                            label:"includeForceAuthn",
                            isChecked: includeForceAuthn ? 'checked' : ''
                        }) %>

                        <%- include('form/checkBox', {
                            id: "includeIsPassive",
                            name: "includeIsPassive",
                            label:"includeIsPassive",
                            isChecked: includeIsPassive ? 'checked' : ''
                        }) %>
                    </div>
                </fieldset> 
                <fieldset>
                    <legend>2ndst: Edit your SAML Request</legend>
                    <%- include('form/textarea', {
                        id: "samlRequestXml",
                        label: "SAML Request XML:",
                        description: "Please modify the displayed sample as needed.",
                        placeholder: "Paste your SAML Request XML here",
                        required: true,
                        value: samlRequestXml ? samlRequestXml : ``
                    }) %>
                    <%- include('form/input', {
                        id: "relayState",
                        label: "RelayState:",
                        type: "text",
                        placeholder: "Enter RelayState",
                        value: relayState ? relayState : '',
                        required: false,
                        smallText: "Optional: Provide a RelayState if needed."
                    }) %>
                    <button type="submit">Generate SAML Request</button>
                </fieldset>
            </fieldset>
            </fieldset>
        </form>
        <script src="buildSampleSamleRequest.js"></script>
        <% if (samlRequestEncodedUrl) { %>
            <h2>Encoded SAML Request</h2>
            <textarea readonly rows="20" id="encodedSamlRequest" name="encodedSamlRequest"><%= samlRequestEncodedUrl %></textarea>
            <button type="submit" id="sendRequestButton" data-login-url="<%= samlRequestEncodedUrl %>">Send SAML Request</button>
            <script src="sendSamlRequest.js"></script>
        <% } %>
    </div>
</body>
</html>