<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>
<body>
    <%- include('common/navbar') %>
    <div class="container">
        <h1>Generate SAML Request Advanced</h1>
        <form action="/generateAdvancedSamlRequest" method="post">
            <fieldset>
                <legend>SAML Request Details</legend>
                <fieldset>
                    <legend>1st: Select option</legend>
                    <div class="form-container">
                        <%- include('form/checkBox', {
                            id: "includeIssuer",
                            name: "includeIssuer",
                            label:"Issuer",
                            isChecked: includeIssuer ? 'checked' : ''
                        }) %>
                        
                        <%- include('form/checkBox', {
                            id: "includeNameIDPolicy",
                            name: "includeNameIDPolicy",
                            label:"NameIDPolicy",
                            isChecked: includeNameIDPolicy ? 'checked' : ''
                        }) %>

                        <%- include('form/checkBox', {
                            id: "includeAuthnContext",
                            name: "includeAuthnContext",
                            label:"AuthnContext",
                            isChecked: includeAuthnContext ? 'checked' : ''
                        }) %>

                        <%- include('form/checkBox', {
                            id: "includeForceAuthn",
                            name: "includeForceAuthn",
                            label:"ForceAuthn",
                            isChecked: includeForceAuthn ? 'checked' : ''
                        }) %>

                        <%- include('form/checkBox', {
                            id: "includeIsPassive",
                            name: "includeIsPassive",
                            label:"IsPassive",
                            isChecked: includeIsPassive ? 'checked' : ''
                        }) %>
                        
                        <%- include('form/checkBox', {
                            id: "includeScoping",
                            name: "includeScoping",
                            label:"Scoping",
                            isChecked: includeScoping ? 'checked' : ''
                        }) %>
                        
                        <%- include('form/checkBox', {
                            id: "includeSubject",
                            name: "includeSubject",
                            label:"Subject",
                            isChecked: includeSubject ? 'checked' : ''
                        }) %>
                    </div>
                </fieldset> 
                <fieldset>
                    <legend>2nd: Edit your SAML Request</legend>
                    <%- include('form/textarea', {
                        id: "samlRequestXml",
                        label: "SAML Request XML:",
                        description: "Please modify the displayed sample as needed.",
                        placeholder: "Paste your SAML Request XML here",
                        required: true,
                        value: samlRequestXml ? samlRequestXml : ``
                    }) %>
                    <%- include('form/input', {
                        id: "relayState",
                        label: "RelayState:",
                        type: "text",
                        placeholder: "Enter RelayState",
                        value: relayState ? relayState : '',
                        required: false,
                        smallText: "Optional: Provide a RelayState if needed."
                    }) %>
                    <label>Query String Parameters:</label>
                        <table id="queryStringTable">
                            <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (!queryStringKeys || queryStringKeys.length === 0) { %>
                                    <tr>
                                        <td><input type="text" name="queryStringKeys" placeholder="Key"></td>
                                        <td><input type="text" name="queryStringValues" placeholder="Value"></td>
                                        <td><div class="removeRowButton"></div></td>
                                    </tr>
                                <% } else { %>
                                    <% for (var i = 0; i < queryStringKeys.length; i++) { %>
                                    <tr>
                                        <td><input type="text" name="queryStringKeys" value="<%= queryStringKeys[i] %>" placeholder="Key"></td>
                                        <td><input type="text" name="queryStringValues" value="<%= queryStringValues[i] %>" placeholder="Value"></td>
                                        <td><div class="removeRowButton"></div></td>
                                    </tr>
                                    <% } %>
                                <% } %>
                            </tbody>
                        </table>
                        <div id="addRowButton" class="addRowButton"></div><br/>
                        <small>Optional: Provide Query String Parameters if needed.</small>
                    <button type="submit">Generate SAML Request</button>
                </fieldset>
            </fieldset>
            </fieldset>
        </form>
        <script src="buildSampleSamlRequest.js"></script>
        <% if (samlRequestEncodedUrl) { %>
            <h2>Encoded SAML Request</h2>
            <textarea readonly rows="20" id="encodedSamlRequest" name="encodedSamlRequest"><%= samlRequestEncodedUrl %></textarea>
            <button type="submit" id="sendRequestButton" data-login-url="<%= samlRequestEncodedUrl %>">Send SAML Request</button>
            <script src="sendSamlRequest.js"></script>
        <% } %>
    </div>
</body>
</html>