<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>
<body>
    <%- include("common/navbar") %>
    <div class="container">
        <h1>Generate SAML Request</h1>
        <form action="/generateSamlRequest" method="POST">
            <fieldset>
                <legend>SAML Request Details</legend>
                
                <%- include('form/input', { 
                    id: "issuer", 
                    label: "Issuer (EntityID):", 
                    type: "text", 
                    placeholder: "Enter the Issuer (EntityID)", 
                    value: issuer, 
                    required: true, 
                    smallText: "Example: sp.example.com" 
                }) %>

                <%- include('form/input', { 
                    id: "destination", 
                    label: "Destination (IdP SSO URL):", 
                    type: "text", 
                    placeholder: "Enter the IdP SSO URL", 
                    value: destination, 
                    required: true, 
                    smallText: "Example: https://idp.example.com/sso" 
                }) %>

                <%- include('form/input', { 
                    id: "assertionConsumerServiceURL", 
                    label: "Assertion Consumer Service URL (optional):", 
                    type: "text", 
                    placeholder: "Enter the Assertion Consumer Service URL", 
                    value: assertionConsumerServiceURL, 
                    required: false,
                    smallText: "Example: http://sp.example.com/acs" 
                }) %>

                <%- include('form/select', { 
                    id: "nameIDFormat", 
                    label: "NameID Format:", 
                    options: [
                        { value: "urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress", text: "Email Address" },
                        { value: "urn:oasis:names:tc:SAML:2.0:nameid-format:persistent", text: "Persistent" },
                        { value: "urn:oasis:names:tc:SAML:2.0:nameid-format:transient", text: "Transient" },
                        { value: "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified", text: "Unspecified" }
                    ],
                    selectedValue: nameIDFormat,
                    required: true,
                    smallText: "Select the NameID Format"
                }) %>

                <%- include('form/select', { 
                    id: "forceAuthn", 
                    label: "Force Authn:", 
                    options: [
                        { value: "true", text: "true" },
                        { value: "false", text: "false" }
                    ],
                    selectedValue: forceAuthn,
                    required: true,
                    smallText: "Force the user to authenticate again"
                }) %>

                <%- include('form/input', { 
                    id: "relayState", 
                    label: "RelayState (optional):", 
                    type: "text", 
                    placeholder: "Enter RelayState", 
                    value: relayState, 
                    required: false,
                    smallText: "Example: Some state information" 
                }) %>

                <!-- Auth Context (optional) -->
                <!-- <label for="authContext">Auth Context (optional):</label>
                <select id="authContext" name="authContext">
                    <option value="">--Select Auth Context--</option>
                    <option value="urn:oasis:names:tc:SAML:2.0:ac:classes:InternetProtocol">Internet Protocol</option>
                    <option value="urn:oasis:names:tc:SAML:2.0:ac:classes:Password">Password</option>
                    <option value="urn:oasis:names:tc:SAML:2.0:ac:classes:Kerberos">Kerberos</option>
                    <option value="urn:oasis:names:tc:SAML:2.0:ac:classes:X509">X.509</option>
                </select> -->
                
                <!-- Allow Unencrypted Assertion -->
                <!-- <label for="allowUnencryptedAssertion">Allow Unencrypted Assertion:</label>
                <select id="allowUnencryptedAssertion" name="allowUnencryptedAssertion">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select> -->                

                <!-- Binding -->
                <!-- <label for="binding">Binding:</label>
                <select id="binding" name="binding">
                    <option value="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST">HTTP-POST</option>
                    <option value="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect">HTTP-Redirect</option>
                </select>
                 -->

                 <button type="submit">Generate SAML Request</button>
            </fieldset>      

        </form>      
        <% if (samlRequest) { %>
        <h2>Generated SAML Request</h2>
        <textarea readonly rows="20" placeholder="Generated SAML Request"><%= samlRequest %></textarea>
        <h2>RelayState</h2>
        <input type="text" id="relayState" name="relayState" readonly value="<% if (issuer) { %><%= relayState %><% } %>">
        <button type="submit" id="sendRequestButton" data-login-url="<%= samlRequestEncodedUrl %>">Send SAML Request</button>
        <% } %>
    </div>
    <script src="sendSamlRequest.js"></script>
</body>
</html>