<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>
<body>
    <%- include("common/navbar") %>
    <div class="container">
        <h1>Generate SAML Request</h1>
        <form id="samlRequestForm">
            <fieldset>
                <legend>SAML Request Details</legend>
                
                <%- include('form/input', { 
                    id: "issuer", 
                    label: "Issuer (EntityID):", 
                    type: "text", 
                    placeholder: "Enter the Issuer (EntityID)", 
                    value: issuer, 
                    required: true, 
                    smallText: "Example: sp.example.com" 
                }) %>

                <%- include('form/input', { 
                    id: "destination", 
                    label: "Destination (IdP SSO URL):", 
                    type: "text", 
                    placeholder: "Enter the IdP SSO URL", 
                    value: destination, 
                    required: true, 
                    smallText: "Example: https://idp.example.com/sso" 
                }) %>

                <%- include('form/input', { 
                    id: "assertionConsumerServiceURL", 
                    label: "Assertion Consumer Service URL (optional):", 
                    type: "text", 
                    placeholder: "Enter the Assertion Consumer Service URL", 
                    value: assertionConsumerServiceURL, 
                    required: false,
                    smallText: "Example: http://sp.example.com/acs" 
                }) %>

                <%- include('form/select', { 
                    id: "nameIDFormat", 
                    label: "NameID Format:", 
                    options: [
                        { value: "urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress", text: "Email Address" },
                        { value: "urn:oasis:names:tc:SAML:2.0:nameid-format:persistent", text: "Persistent" },
                        { value: "urn:oasis:names:tc:SAML:2.0:nameid-format:transient", text: "Transient" },
                        { value: "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified", text: "Unspecified" }
                    ],
                    selectedValue: nameIDFormat,
                    required: true,
                    smallText: "Select the NameID Format"
                }) %>

                <%- include('form/select', { 
                    id: "forceAuthn", 
                    label: "Force Authn:", 
                    options: [
                        { value: "false", text: "false" },
                        { value: "true", text: "true" }
                    ],
                    selectedValue: forceAuthn,
                    required: true,
                    smallText: "Force the user to authenticate again"
                }) %>

                <%- include('form/select', { 
                    id: "authnContext", 
                    label: "authnContext:", 
                    options: [
                        { value: "urn:oasis:names:tc:SAML:2.0:ac:classes:Unspecified", text: "urn:oasis:names:tc:SAML:2.0:ac:classes:Unspecified" },
                        { value: "urn:oasis:names:tc:SAML:2.0:ac:classes:Password", text: "urn:oasis:names:tc:SAML:2.0:ac:classes:Password" },
                        { value: "urn:oasis:names:tc:SAML:2.0:ac:classes:X509", text: "urn:oasis:names:tc:SAML:2.0:ac:classes:X509" },
                        { value: "urn:federation:authentication:windows", text: "urn:federation:authentication:windows" },
                        { value: "urn:oasis:names:tc:SAML:2.0:ac:classes:TLSClient", text: "urn:oasis:names:tc:SAML:2.0:ac:classes:TLSClient" },
                        { value: "urn:oasis:names:tc:SAML:2.0:ac:classes:Smartcard", text: "urn:oasis:names:tc:SAML:2.0:ac:classes:Smartcard" },
                        { value: "urn:oasis:names:tc:SAML:2.0:ac:classes:SmartcardPKI", text: "urn:oasis:names:tc:SAML:2.0:ac:classes:SmartcardPKI" },
                        { value: "urn:oasis:names:tc:SAML:2.0:ac:classes:SPKI", text: "urn:oasis:names:tc:SAML:2.0:ac:classes:SPKI" },
                        { value: "urn:oasis:names:tc:SAML:2.0:ac:classes:XMLDSig", text: "urn:oasis:names:tc:SAML:2.0:ac:classes:XMLDSig" },
                        { value: "urn:oasis:names:tc:SAML:2.0:ac:classes:SecureRemotePassword", text: "urn:oasis:names:tc:SAML:2.0:ac:classes:SecureRemotePassword" },
                        { value: "urn:oasis:names:tc:SAML:2.0:ac:classes:PGP", text: "urn:oasis:names:tc:SAML:2.0:ac:classes:PGP" },
                        { value: "urn:oasis:names:tc:SAML:2.0:ac:classes:Kerberos", text: "urn:oasis:names:tc:SAML:2.0:ac:classes:Kerberos" },
                    ],
                    selectedValue: authnContext,
                    smallText: "Force the user to authenticate again"
                }) %>

                <%- include('form/input', { 
                    id: "relayState", 
                    label: "RelayState (optional):", 
                    type: "text", 
                    placeholder: "Enter RelayState", 
                    value: relayState, 
                    required: false,
                    smallText: "Example: Some state information" 
                }) %>
                 <button type="submit">Generate SAML Request</button>
                <input type="checkbox" id="openInNewTab" name="openInNewTab">open in new tab
            </fieldset>      
        </form>
    </div>
    <script src="sendSamlRequest.js"></script>
</body>
</html>