<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>
<body>
    <%- include("common/navbar") %>
    <div class="container">
        <h1>Generate SAML Request</h1>
        <form action="/send_saml_request" method="POST">
            <fieldset>
                <legend>SAML Request Details</legend>
                
                <!-- Issuer (EntityID) -->
                <label for="issuer">Issuer (EntityID):</label>
                <input type="text" id="issuer" name="issuer" value="<% if (issuer) { %><%= issuer %><% } %>"required>
                
                <!-- Destination (IdP SSO URL) -->
                <label for="destination">Destination (IdP SSO URL):</label>
                <input type="text" id="destination" name="destination" value="<% if (destination) { %><%= destination %><% } %>" required>
                
                <!-- Assertion Consumer Service URL (optional) -->
                <label for="assertionConsumerServiceURL">Assertion Consumer Service URL (optional):</label>
                <input type="text" id="assertionConsumerServiceURL" name="assertionConsumerServiceURL" value="<% if (assertionConsumerServiceURL) { %><%= assertionConsumerServiceURL %><% } %>">
                <!-- NameID Format -->
                <label for="nameIDFormat">NameID Format:</label>
                <select id="nameIDFormat" name="nameIDFormat" required>
                    <option value="urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress" <%= nameIDFormat === 'urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress' ? 'selected' : '' %>>Email Address</option>
                    <option value="urn:oasis:names:tc:SAML:2.0:nameid-format:persistent" <%= nameIDFormat === 'urn:oasis:names:tc:SAML:2.0:nameid-format:persistent' ? 'selected' : '' %>>Persistent</option>
                    <option value="urn:oasis:names:tc:SAML:2.0:nameid-format:transient" <%= nameIDFormat === 'urn:oasis:names:tc:SAML:2.0:nameid-format:transient' ? 'selected' : '' %>>Transient</option>
                    <option value="urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified" <%= nameIDFormat === 'urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified' ? 'selected' : '' %>>Unspecified</option>
                </select>
                
                <!-- Auth Context (optional) -->
                <!-- <label for="authContext">Auth Context (optional):</label>
                <select id="authContext" name="authContext">
                    <option value="">--Select Auth Context--</option>
                    <option value="urn:oasis:names:tc:SAML:2.0:ac:classes:InternetProtocol">Internet Protocol</option>
                    <option value="urn:oasis:names:tc:SAML:2.0:ac:classes:Password">Password</option>
                    <option value="urn:oasis:names:tc:SAML:2.0:ac:classes:Kerberos">Kerberos</option>
                    <option value="urn:oasis:names:tc:SAML:2.0:ac:classes:X509">X.509</option>
                </select> -->
                
                <!-- Allow Unencrypted Assertion -->
                <!-- <label for="allowUnencryptedAssertion">Allow Unencrypted Assertion:</label>
                <select id="allowUnencryptedAssertion" name="allowUnencryptedAssertion">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select> -->
                
                <!-- Force Authn -->
                <label for="forceAuthn">Force Authn:</label>
                <select id="forceAuthn" name="forceAuthn">
                    <option value="true" <%= forceAuthn === 'true' ? 'selected' : '' %>>true</option>
                    <option value="false" <%= forceAuthn === 'false' ? 'selected' : '' %>>false</option>
                </select>
                
                <!-- Binding -->
                <!-- <label for="binding">Binding:</label>
                <select id="binding" name="binding">
                    <option value="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST">HTTP-POST</option>
                    <option value="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect">HTTP-Redirect</option>
                </select>
                 -->
                <!-- Submit Button -->
                 <input type="hidden" id="_isGenerate" name="_isGenerate" value="true"/>
                <button type="submit">Generate SAML Request</button>
            </fieldset>      

        </form>
        <% if (samlRequest) { %>
        <form action="/send_saml_request" method="POST">
            <h2>Generated SAML Response</h2>
            <textarea readonly rows="20" placeholder="Generated SAML Response"><%= samlRequest %></textarea>
            <input type="hidden" id="issuer_" name="issuer" value="<% if (issuer) { %><%= issuer %><% } %>"required>
            <input type="hidden" id="destination_" name="destination" value="<% if (destination) { %><%= destination %><% } %>" required>
            <input type="hidden" id="assertionConsumerServiceURL_" name="assertionConsumerServiceURL" value="<% if (assertionConsumerServiceURL) { %><%= assertionConsumerServiceURL %><% } %>">
            <input type="hidden" id="nameIDFormat_" name="nameIDFormat" value="<% if (nameIDFormat) { %><%= nameIDFormat %><% } %>">
            <input type="hidden" id="forceAuthn_" name="forceAuthn" value="<% if (forceAuthn) { %><%= forceAuthn %><% } %>">
            <input type="hidden" id="_isGenerate_" name="_isGenerate" value="false"/>
            <button type="submit">Send SAML Request</button>
        </form>
        <% } %>
    </div>
</body>
</html>